<div class="row">
  <div class="col-md-12">
    <form [formGroup]="exchangeForm">
    <div class="form-group">

    <ul>
      <li id="amount">
        <label for="amount">Exchange Amount: </label>
        <input style="margin-left: 3rem; width : 200px;  " type="number" id="amount" formControlName="exchangeAmount" class="form-control">
      </li>

    <li>
    <label for="kur">Choose Currency:</label>
    <select style="margin-left: 3rem; width : 200px;  " formControlName="currency1" class="form-control">

      <option value="" disabled>Choose a currrency</option>

      <option [ngValue]="doviz?.buying" *ngFor="let doviz of dovizList">
        {{ doviz.name }}
      </option>

    </select>

</li>
<li>
    <label for="kur">Choose Currency:</label>
    <select style="margin-left: 3rem; width : 200px;" formControlName="currency2" class="form-control">

      <option value="" disabled>Choose a currrency</option>
      <option value="TÜRK LİRASI" value=1>Choose a currrency</option>

      <option [ngValue]="doviz?.buying" *ngFor="let doviz of dovizList">
        {{ doviz.name }}
      </option>

    </select>

</li>
</ul>
<button  (click)="clickEvent()" >Convert</button>
<br>
<label for="final">Amount:</label>
<h5>{{output}}</h5>


</div>
</form>
</div>
</div>

